version: '2'

volumes:
  jenkins_home:
    external: true

services:
  nginx:
    image: nginx:stable
    ports: 
      - "80:80"
      - "443:443"
    volumes:
      - {{nginx_conf_fullpath}}:/etc/nginx/nginx.conf
      - {{ssl_path}}/{{ssl_crt_file}}:/etc/nginx/ssl/mycasebook.crt
      - {{ssl_path}}/{{ssl_key_file}}:/etc/nginx/ssl/mycasebook.key
    networks:
      - ci

  jenkin:
    image: casecommons/ca_jenkins:{{ image_tag }}
    environment:
      DOCKER_ENGINE: "1.12.0"
      DOCKER_COMPOSE: "1.8.0"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
      - "50000:50000"
    networks:
      - ci

  jenkins-slave:
    image: casecommons/ca_jenkins:{{ image_tag }}-slave
    environment:
        DOCKER_GID: "100"
        DOCKER_ENGINE: "1.12.0"
        DOCKER_COMPOSE: "1.8.0"
        SLAVE_VERSION: "2.2"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ci
    command:
      - java
      - -jar
      - slave.jar
      - -master
      - http://jenkins:8080/
      - -username
      - ${JENKINS_USERNAME}
      - -password
      - ${JENKINS_PASSWORD}
      - -labels
      - DOCKER

networks:
  ci:
    external:
      name: ci
