version: '2'
services:
  db:
    image: postgres:9.5.3
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
    networks:
      - api
    logging:
      driver: syslog
  
  api:
    image: {{ api_image_tag }}
    command: bundle exec puma
    ports:
      - "80:3000"
    environment:
      DATABASE_NAME: 'casebook_api_production'
      PG_HOST: db
      PG_PORT: 5432
      PG_USER: postgres
      RAILS_ENV: production
      SECRET_KEY_BASE: '{{ rails_secret_key_base.stdout }}'
      ELASTICSEARCH_URL: 'http://elasticsearch:9200'
    networks:
      - api

  elasticsearch:
    image: elasticsearch:2.4
    ports:
      - "9200:9200"
    networks:
      - api 
    volumes:
      - /usr/share/elasticsearch/data:/usr/share/elasticsearch/data
    logging:
      driver: syslog
networks:
  api:
    external:
      name: api
