user  nginx;
worker_processes auto;          # auto-detect number of logical CPU cores

events {
  worker_connections 512;       # set the max number of simultaneous connections (per worker process)
}

http {
  include /etc/nginx/mime.types;

  upstream app {
    server jenkin:8080 fail_timeout=0;
  }

  server {
    listen 80;
    server_name {{ subdomain_name }};
    return 301 https://$host$request_uri;
  }

  server {
    listen 443 ssl;
    server_name {{ subdomain_name }};

    ssl_certificate {{ ssl_path }}/{{ ssl_crt_file }};
    ssl_certificate_key {{ ssl_path }}/{{ ssl_key_file }};

    location / {
      proxy_set_header        Host $host:$server_port;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;
      proxy_redirect http:// https://;
      proxy_pass              http://app;
    }
  }
}
